.segment-model-container{
  display: flex;
  flex-direction: column;
  gap:30px;
}

.sub3 :nth-child(1){
   margin-bottom: 20px;
}


.blue-box{
   border: 1px solid rgb(117, 117, 240);
   width: 300px;
   min-height: 20px;
   display: flex;
   flex-direction: column;
   padding: 30px;
  
}

.selection{
  margin: 10px;
}

.add-btn:hover {
   cursor: pointer;
}